body {
  font-family: "Lato", sans-serif;
  text-align: center;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(242, 235, 243) 0%,
    rgb(234, 241, 249) 90.1%
  );
  background-attachment: fixed;
  background-size: cover;
}

form {
  padding: 40px;
}

h1 {
  margin-top: 10px;
  line-height: 0%;
}

h3 {
  line-height: 0.8em;
  font-weight: 400;
}

h3 {
  padding-bottom: 34px;
  font-size: 18px;
}

.footer {
  font-size: smaller;
}

a.footer-link {
  text-decoration: none;
  background-color: transparent;
  color: #757575;
}

a.footer-link:hover {
  font-size: 120%;
  font-weight: 700;
  transition: all 200ms ease-in-out;
  background: linear-gradient(
    to right,
    #ebe090 2%,
    #f0e567 30%,
    #d2edd0 50%,
    #cbecc9 100%
  );

  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

a.footer-link:hover:before {
  content: "✨";
}

a.footer-link:hover:after {
  content: "✨";
}

.container {
  max-width: 800px;
}

.card {
  margin: 1.5em 3em;
  margin-top: 3em;
  border-radius: 16px;
  border: none;
}

.card-body {
  text-align: center;
  border: none;
  border-radius: 16px;
  background-color: #fcfcfc;
  padding-bottom: 50px;
  box-shadow: 10px 15px 50px 10px rgb(96, 88, 97) 20%;
}

.form-style {
  background: rgb(246, 239, 247);
  border: none;
  border-radius: 5px;
  line-height: 2em;
  padding: 2px 16px;
}

.form-style:focus {
  outline: 0;
  border-color: rgb(236, 194, 241);
  box-shadow: 0 0 0 0.1rem rgba(133, 121, 135, 0.5);
}

.search-city {
  background: none;
  border: 1px solid;
  line-height: 1.5em;
  margin: 1%;
  box-shadow: 5px 5px 2px #f2efb3;
}

.search-city:hover {
  background-color: #eee986;
  opacity: 0.8;
  border: none;
  color: white;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  transform: scale(1.3) perspective(1px);
  box-shadow: none;
  margin: 0 15px;
}

.location-button {
  background: none;
  border: 1px solid;
  line-height: 1.5em;
  margin: 1%;
  box-shadow: 5px 5px 2px #deecdd;
}

.location-button:hover {
  background-color: #cbecc9;
  opacity: 0.8;
  border: none;
  color: white;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  transform: scale(1.3) perspective(1px);
  box-shadow: none;
  margin: 0 10px 0 20px;
}

.weather-date {
  padding-top: 13px;
  font-size: 18px;
  color: #757575;
}

.weather-description {
  padding-top: 0;
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 1.2em;
  color: #757575;
}

.weather-description:first-letter {
  text-transform: capitalize;
}

.main-weather-section img {
  height: 100px;
  width: 100px;
  float: center;
  position: relative;
  top: -15px;
}

.main-weather-icon {
  font-size: 50px;
  color: #e38e95;
}

.tempNumber {
  font-size: 64px;
  font-weight: 400;
}

.units {
  position: relative;
  top: -30px;
}

a.temperature {
  text-decoration: none;
  color: #e38e95;
}

a.temperature:hover {
  text-decoration: underline;
  color: black;
}

.temperature.active {
  color: black;
  cursor: default;
}

.temperature.active:hover {
  text-decoration: none;
}

.description-2 {
  margin-top: -10px;
  font-size: 15px;
  color: #757575;
}

.secondary-container {
  margin-top: 50px;
}

.weather-icon {
  font-size: 30px;
  color: #e38e95;
  padding-bottom: 10px;
}
